.sidebar.sidebar-style-2
  .sidebar-wrapper.scrollbar.scrollbar-inner
    .sidebar-content
      ul.nav.nav-primary
        li.nav-item.active
          a(href='/')
            i.fas.fa-home
            p Dashboard

        li.nav-section
          span.sidebar-mini-icon
            i.fa.fa-ellipsis-h
          h4.text-section Manage
        if session.role == "admin"
          li.nav-item
            a(href='/merchant')
              i.fas.fa-store
              p Manage Merchant
          li.nav-item
            a(href='/user')
              i.fas.fa-users 
              p Manage User
        li.nav-item
          a(href='/manage-instance')
            i.fab.fa-whatsapp
            p Manage Instances
        li.nav-item
          a(href='/signout')
            i.fas.fa-sign-out-alt
            p Logout