extends ../layout

block content
  .row
    .col-md-12#listInstance
      .card
        .card-header
          h4.card-title.d-inline Manage Instances
          .float-right
            if session.role == "admin"
              button#btnAdd.btn.btn-mini.btn-primary(type="button" onClick="return openForm();")
                | Tambah Instance
        .card-body
          .table-responsive
            table#instances-datatable.display.table.table-striped.table-hover
              thead
                tr
                  th Action
                  th Nama
                  th Phone
                  th Status
                  th Webhook
                  th Token
              tbody

    .col-md-4.col-sm-12#formEditable(style="display: none;" data-action="add")
      .card
        .card-header
          .card-head-row
            h5.card-title#modalTitle
            .card-tools
              button.close(type='button' onClick="return closeForm();")
                span(aria-hidden='true') ×
        form#formInstance
          input.form-control#id(type='hidden' name="id")
          .form-group
            label(for='name') Nama Instance
            input#name.form-control(type='text' name="name" placeholder='masukan nama instance' required)
          .form-group
            label(for='phone') No WhatsApp
            input#phone.form-control(type='text' name="phone" placeholder='masukan no whatsapp' required)
          .form-group
            label(for='webhook') Webhook
            input#webhook.form-control(type='text' name="webhook" placeholder='masukan url webhook  ' required)

          //hanya admin
          if session.role == "admin"
            .form-group
              label(for='merchant') Merchant
              select.form-control#merchant
                option(value="all") Pilih Merchant
                each m in merchants
                  option(value=m._id)= m.nama_merchant

          .card-footer
            button#save.btn.btn-success.btn-sm(type='submit') Simpan
            button#reset.btn.btn-sm.btn-default(type='reset' style='margin-left : 10px;')
              span Reset

block modal
  // Modal Create
  #modalInstances.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalInstances' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title
          button.close#btn-close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          .row
            div#formAddInstance.mx-auto.text-center
              img#qrcode(src='/images/blank.png' width='200' height='200')
              #alertMessage
              button#generateQR.mt-4.btn.btn-primary.mx-auto.btn-round(type='btn' disabled) Mencoba Terkoneksi Ke Server

block script
  script(src="/socket.io/socket.io.js")
  script(src='/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')
  script(src='/assets/js/alert.js')
  // Datatables
  script(src='/assets/js/plugin/datatables/datatables.min.js')
  script.

    let dTable = null;
    $(function(){
      dataTable()
    })

    function refreshData() {
      dTable.ajax.reload(null, false)
    }

    function dataTable() {
      dTable = $("#instances-datatable").DataTable({
        ajax: {
          url: `/manage-instance/list`,
          type: "GET",
        },
        searching: true,
        ordering: true,
        lengthChange: true,
        responsive: true,
        processing: true,
        serverSide: true,
        searchDelay: 1000,
        paging: true,
        lengthMenu: [5, 10, 25, 50],
        pageLength: [10],
        order: [[1, "desc"]],
        columns: [
          {
            data: "action"
          },
          {
            data: "name"
          },
          {
            data: "phone"
          }, 
          {
            data: "status"
          }, 
          {
            data: "webhook"
          }, 
          {
            data: "token"
          }
        ],
      });
    }

    function openForm(){
      $("#save").removeAttr("disabled")
      $("#listInstance").removeClass("col-md-12").addClass("col-md-8")
      $("#modalTitle").html("Form Instance Wabot")
      $("#formEditable").attr("data-action","add").show()
    }

    function closeForm(){
      $("#save").removeAttr("disabled")
      $("#listInstance").removeClass("col-md-8").addClass("col-md-12")
      $("#reset").click()
      $("#modalTitle").html("")
      $("#formEditable").hide()
    }

    $("#formEditable form").submit(function(e) {
      e.preventDefault();
      let dataToSend = {
        id: $("#id").val(),
        instanceName: $("#name").val(),
        phone: $("#phone").val(),
        webhook: $("#webhook").val(),
        kode_merchant: $("#merchant").val()
      }

      saveData(dataToSend, $("#formEditable").attr("data-action"));
      return false;
    });

    function saveData(data, action) {
      $("#save").attr("disabled", true)
      $.ajax({
        url: action == "update" ? "/manage-instance/update" : "/manage-instance/create",
        method: "POST",
        data: data,
        header: {
          'Content-Type' : 'application/json'
        },
        beforeSend: function() {
          console.log("Loading...")
        },
        success: function(res) {
          console.log("res :", res)
          $("#save").removeAttr("disabled")
          closeForm()
          refreshData()
          showMessage("success", "flaticon-alarm-1", "Sukses", res.message)
        },
        error: function(err) {
          $("#save").removeAttr("disabled")
          console.log("error :", err);
          showMessage("danger", "flaticon-error", "Peringatan", err.message || err.responseJSON
            ?.message)
        }
      })
    }

    function getData(id) {
      $.ajax({
        url: `/manage-instance/${id}/detail`,
        method: "GET",
        dataType: "json",
        success: function(res) {
          $("#formEditable").attr("data-action", "update").fadeIn(200, function() {
            $("#listInstance").removeClass("col-md-12").addClass("col-md-8")
            let d = res.data;
            $("#id").val(d._id);
            $("#name").val(d.instanceName);
            $("#phone").val(d.phone)
            $("#webhook").val(d.webhook)
            $("#merchant").val(d.kode_merchant)
          })
        },
        error: function(err) {
          console.log("error :", err);
          showMessage("warning", "flaticon-error", "Peringatan", err.message || err.responseJSON
            ?.message);
        }
      })
    }

    function removeData(id){
      $.ajax({
        url:"/manage-instance/delete",
        method: "POST",
        data: {
          id: id
        },
        beforeSend: function () {
          return confirm("Yakin untuk menghapus data ?");
          console.log('Sending data... !');
        },
        success: function(msg){
          dTable.ajax.reload(null, false)
          handleCloseAndDelete(id, "end-session");
        },
        error: function (error) {
          console.log("error : ", error)
          showMessage("danger", "flaticon-error", "Peringatan", error.message || error.responseJSON
            ?.message)
        },
      })
    }

    function shuwdown(id){
      $.ajax({
        url:"/manage-instance/shutdown",
        method: "POST",
        data: {
          id: id
        },
        beforeSend: function () {
          return confirm("Yakin untuk mematikan instance ?");
          console.log('Sending data... !');
        },
        success: function(msg){
          dTable.ajax.reload(null, false)
          handleCloseAndDelete(id, "end-session");
        },
        error: function (error) {
          console.log("error : ", error)
          showMessage("danger", "flaticon-error", "Peringatan", error.message || error.responseJSON
            ?.message)
        },
      })
    }

    function closeModal(socket) {
      // element modal instance
      $(".modal-title").show();
      $("#qrcode").attr("src", "/images/blank.png");
      $("#instance").show().val("");
      $("#phone").show().val("");
      $("#webhook").show().val("");
      $("#generateQR")
        .html("Generate QR")
        .attr("type", "submit")
        .removeClass("btn-primary btn-danger btn-success btn-warning btn-info")
        .addClass("btn-primary")
        .prop("disabled", false);

      // element modal update
      $("#imgUpdated").attr("src", "/images/connected.jpg").hide();
      $("#updateInstance")
        .html("Update Instance")
        .removeClass("btn-primary btn-success btn-warning btn-danger btn-info")
        .addClass("btn-primary")
        .prop("disabled", false);

      if (socket) {
        console.log("[!] Disconnect from server");
        socket.removeListener("connect");
        socket.disconnect();
      }
      return;
    }

    function generateQR(instanceName = "") {
      try {
        const socketUrl = '#{socketUrl}';
        const socket = io(socketUrl);
        const room = instanceName;

        $("#modalInstances").on("hidden.bs.modal", function () {
          closeModal(socket);
          refreshData();
        });

        $("#modalInstances").modal("show")

        socket.on("connect", function () {
          socket.emit("join", room);
          console.log("[!] Connect to server with room : ", room);
          let message = {
            action: "reconnect",
            instanceName,
          };
          socket.emit("message", { room, message: message });

          $("#generateQR")
            .html("Proses Generate QR Code")
            .prop("disabled", true)
            .attr("type", "button");
          $("#qrcode").attr("src", "/images/loader.gif");

          socket.on("message", (message) => {
            const { status, data } = message.message;
            console.log("message : ", message);

            // check status code
            if (status !== 200) {
              let stat = "btn-danger";
              let value = data;

              // session already exist
              status == 409 &&
                $("#qrcode").attr("src", "/images/actived.svg") &&
                (stat = "btn-info");

              // accept base64
              status == 201 &&
                $("#qrcode").attr("src", data) &&
                (stat = "btn-info") &&
                (value = "Lakukan Scanning QR Code");

              // error not logged
              status == 500 &&
                data == "Not Logged" &&
                $("#qrcode").attr("src", "/images/timeout.svg");

              $("#generateQR")
                .html(value)
                .attr("type", "button")
                .removeClass("btn-primary")
                .addClass(stat)
                .prop("disabled", true);
            }

            // handle response session
            if (
              (status == 200 && data == "Login Success") ||
              data == "Success Continue Session"
            ) {
              $("#generateQR")
                .html(data)
                .attr("type", "button")
                .removeClass("btn-primary")
                .addClass("btn-success")
                .prop("disabled", true);
              $("#qrcode").attr("src", "/images/connected.jpg");
              $("#instance").hide();
              $("#phone").hide();
              $("#webhook").hide();
            }
          });
          socket.on("disconnect", () => {
            console.log("[!] Disconnect from server");
            socket.removeListener("connect");
            socket.emit("join", room);
            console.log("[!] Re-Connect to server with room : ", room);
          });
        });
        return;
      } catch (error) {
        console.log(error);
        return "kesalahan server internal";
      }
    }

    function handleErrorResponse(error, update) {
      if (update) {
        $("#modalUpdateInstances").on("hidden.bs.modal", function () {
          closeModal();
        });
        $("#imgUpdated").attr("src", "/images/bad-request.svg");
        setTimeout(() => {
          $("#imgUpdated").show();
        }, 2);

        $(".modal-title").hide();
        $("#instanceUpdate").hide();
        $("#phoneUpdate").hide();
        $("#webhookUpdate").hide();
        $("#updateInstance")
          .html(error)
          .removeClass("btn-primary")
          .addClass("btn-danger")
          .prop("disabled", true);
      } else {
        $("#modalInstances").on("hidden.bs.modal", function () {
          closeModal();
        });

        $(".modal-title").hide();
        $("#instance").hide();
        $("#phone").hide();
        $("#webhook").hide();

        $("#generateQR")
          .html(error)
          .attr("type", "button")
          .removeClass("btn-primary")
          .addClass("btn-danger")
          .prop("disabled", true);
        $("#qrcode").attr("src", "/images/bad-request.svg");
        $("#modalInstances").modal("show");
      }
    }

    function handleCloseAndDelete(instanceName, action) {
      $("#generateQR")
        .html("Process")
        .prop("disabled", true)
        .addClass("btn-primary")
        .attr("type", "button");
      $("#qrcode").attr("src", "/images/loader.gif");
      $("#instance").hide();
      $("#phone").hide();
      $("#webhook").hide();
      $(".modal-title").hide();

      $("#modalInstances").modal("show");

      const socketUrl = '#{socketUrl}';
      const socket = io(socketUrl);
      const room = instanceName;

      $("#modalInstances").on("hidden.bs.modal", function () {
        closeModal(socket);
        refreshData();
      });

      socket.on("connect", function () {
        socket.emit("join", room);
        let message = {
          action,
          instanceName,
        };
        socket.emit("message", { room, message: message });

        socket.on("message", (message) => {
          console.log("message : ", message);
          const { status, data } = message.message;
          let stat = "btn-success";
          status == 200
            ? data == `Sukses menghapus instance`
              ? $("#qrcode").attr("src", "/images/deleted.svg")
              : $("#qrcode").attr("src", "/images/connected.jpg")
            : $("#qrcode").attr("src", "/images/bad-request.svg") &&
              (stat = "btn-danger");

          $("#generateQR")
            .html(data)
            .prop("disabled", true)
            .attr("type", "button")
            .addClass(stat);
        });

        socket.on("disconnect", () => {
          console.log("[!] Disconnect from server");
          socket.removeListener("connect");
          socket.emit("join", room);
          console.log("[!] Re-Connect to server with room : ", room);
        });
      });
    }

