extends ../layout

block content
  .row
    .col-md-12#listMerchant
      .card
        .card-header
          h4.card-title.d-inline Manage Merchant
          .float-right
            if session.role == "admin"
              button#btnAdd.btn.btn-mini.btn-primary(type="button" onClick="return openForm();")
                | Tambah Merchant
        .card-body
          .table-responsive
            table#merchant-datatable.display.table.table-striped.table-hover
              thead
                tr
                  th Action
                  th Nama
                  th Status
                  th Email
              tbody

    .col-md-4.col-sm-12#formEditable(style="display: none;" data-action="add")
      .card
        .card-header
          .card-head-row
            h5.card-title#modalTitle
            .card-tools
              button.close(type='button' onClick="return closeForm();")
                span(aria-hidden='true') ×
        form#formMerchant
          input.form-control#id(type='hidden' name="id")
          .form-group
            label(for='name') Nama Merchant
            input#name.form-control(type='text' name="name" placeholder='masukan nama merchant' required)
          .form-group
            label(for='email') Email
            input#email.form-control(type='email' name="email" placeholder='masukan email merchant')
          .form-group
            label(for='aktif') Status
            select.form-control#aktif
              option(value="true") Aktif
              option(value="false") Tidak Aktif
          .card-footer
            button#save.btn.btn-success.btn-sm(type='submit') Simpan
            button#reset.btn.btn-sm.btn-default(type='reset' style='margin-left : 10px;')
              span Reset
block script
  script(src='/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')
  script(src='/assets/js/alert.js')
  // Datatables
  script(src='/assets/js/plugin/datatables/datatables.min.js')
  script.

    let dTable = null;
    $(function(){
      dataTable()
    })

    function refreshData() {
      dTable.ajax.reload(null, false)
    }

    function dataTable() {
      dTable = $("#merchant-datatable").DataTable({
        ajax: {
          url: `/merchant/list`,
          type: "GET",
        },
        searching: true,
        ordering: true,
        lengthChange: true,
        responsive: true,
        processing: true,
        serverSide: true,
        searchDelay: 1000,
        paging: true,
        lengthMenu: [5, 10, 25, 50],
        pageLength: [10],
        order: [[1, "desc"]],
        columns: [
          {
            data: "action"
          },
          {
            data: "name"
          },
          {
            data: "status"
          }, 
          {
            data: "email"
          },
        ],
      });
    }

    function openForm(){
      $("#save").removeAttr("disabled")
      $("#listMerchant").removeClass("col-md-12").addClass("col-md-8")
      $("#modalTitle").html("Form Merchant")
      $("#formEditable").attr("data-action","add").show()
    }

    function closeForm(){
      $("#save").removeAttr("disabled")
      $("#listMerchant").removeClass("col-md-8").addClass("col-md-12")
      $("#reset").click()
      $("#modalTitle").html("")
      $("#formEditable").hide()
    }

    $("#formEditable form").submit(function(e) {
      e.preventDefault();
      let dataToSend = {
        id: $("#id").val(),
        nama_merchant: $("#name").val(),
        email_merchant: $("#email").val(),
        aktif: $("#aktif").val() == "true" ? true : false,
      }

      saveData(dataToSend, $("#formEditable").attr("data-action"));
      return false;
    });

    function saveData(data, action) {
      $("#save").attr("disabled", true)
      $.ajax({
        url: action == "update" ? "/merchant/update" : "/merchant/create",
        method: "POST",
        data: data,
        header: {
          'Content-Type' : 'application/json'
        },
        beforeSend: function() {
          console.log("Loading...")
        },
        success: function(res) {
          console.log("res :", res)
          $("#save").removeAttr("disabled")
          closeForm()
          refreshData()
          showMessage("success", "flaticon-alarm-1", "Sukses", res.message)
        },
        error: function(err) {
          $("#save").removeAttr("disabled")
          console.log("error :", err);
          showMessage("danger", "flaticon-error", "Peringatan", err.message || err.responseJSON
            ?.message)
        }
      })
    }

    function getData(id) {
      $.ajax({
        url: `/merchant/${id}/detail`,
        method: "GET",
        dataType: "json",
        success: function(res) {
          $("#formEditable").attr("data-action", "update").fadeIn(200, function() {
            $("#listMerchant").removeClass("col-md-12").addClass("col-md-8")
            let d = res.data;
            $("#id").val(d._id);
            $("#name").val(d.nama_merchant);
            $("#email").val(d.email_merchant)
            $("#aktif").val(d.aktif ? "true" : "false")
          })
        },
        error: function(err) {
          console.log("error :", err);
          showMessage("warning", "flaticon-error", "Peringatan", err.message || err.responseJSON
            ?.message);
        }
      })
    }

    function removeData(id){
      $.ajax({
        url:"/merchant/delete",
        method: "POST",
        data: {
          id: id
        },
        beforeSend: function () {
          return confirm("Yakin untuk menghapus data ?");
          console.log('Sending data... !');
        },
        success: function(msg){
          dTable.ajax.reload(null, false)
          showMessage("success", "flaticon-alarm-1", "Sukses", msg.message)
        },
        error: function (error) {
          console.log("error : ", error)
          showMessage("danger", "flaticon-error", "Peringatan", error.message || error.responseJSON
            ?.message)
        },
      })
    }