extends ../layout

block content
  .row
    .col-md-12#listMerchant
      .card
        .card-header
          h4.card-title.d-inline Manage User
          .float-right
            if session.role == "admin"
              button#btnAdd.btn.btn-mini.btn-primary(type="button" onClick="return openForm();")
                | Tambah User
        .card-body
          .table-responsive
            table#merchant-datatable.display.table.table-striped.table-hover
              thead
                tr
                  th Action
                  th Nama
                  th Username
                  th Email
                  th Status 
                  th Merchant
                  th Role
              tbody

    .col-md-4.col-sm-12#formEditable(style="display: none;" data-action="add")
      .card
        .card-header
          .card-head-row
            h5.card-title#modalTitle
            .card-tools
              button.close(type='button' onClick="return closeForm();")
                span(aria-hidden='true') ×
        form#formMerchant
          input.form-control#id(type='hidden' name="id")
          .form-group
            label(for='name') Nama
            input#name.form-control(type='text' name="name" placeholder='masukan nama' required)
          .form-group
            label(for='email') Email
            input#email.form-control(type='email' name="email" placeholder='masukan email' required)
          .form-group
            label(for='username') Username
            input#username.form-control(type='text' name="username" placeholder='masukan username' required)
          .form-group
            label(for='password') Password
            input#password.form-control(type='password' name="password" placeholder='masukan password')
          .form-group
            label(for='aktif') Status
            select.form-control#aktif
              option(value="true") Aktif
              option(value="false") Tidak Aktif
          if session.role == "admin"
            .form-group
              label(for='merchant') Merchant
              select.form-control#merchant
                option(value="all") Pilih Merchant
                each m in merchants
                  option(value=m._id)= m.nama_merchant
          .form-group
            label(for='role') Role
            select.form-control#role
              option(value="mitra") Mitra
              option(value="admin") Admin
          .card-footer
            button#save.btn.btn-success.btn-sm(type='submit') Simpan
            button#reset.btn.btn-sm.btn-default(type='reset' style='margin-left : 10px;')
              span Reset

block script
  script(src='/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')
  script(src='/assets/js/alert.js')
  // Datatables
  script(src='/assets/js/plugin/datatables/datatables.min.js')
  script.

    let dTable = null;
    $(function(){
      dataTable()
    })

    function refreshData() {
      dTable.ajax.reload(null, false)
    }

    function dataTable() {
      dTable = $("#merchant-datatable").DataTable({
        ajax: {
          url: `/user/list`,
          type: "GET",
        },
        searching: true,
        ordering: true,
        lengthChange: true,
        responsive: true,
        processing: true,
        serverSide: true,
        searchDelay: 1000,
        paging: true,
        lengthMenu: [5, 10, 25, 50],
        pageLength: [10],
        order: [[1, "desc"]],
        columns: [
          {
            data: "action"
          },
          {
            data: "name"
          },
          {
            data: "username"
          },
          {
            data: "email"
          },
          {
            data: "status"
          }, 
          {
            data: "merchant"
          }, 
          {
            data: "role"
          },

        ],
      });
    }

    function openForm(){
      $("#save").removeAttr("disabled")
      $("#listMerchant").removeClass("col-md-12").addClass("col-md-8")
      $("#modalTitle").html("Form Pengguna")
      $("#formEditable").attr("data-action","add").show()
    }

    function closeForm(){
      $("#save").removeAttr("disabled")
      $("#listMerchant").removeClass("col-md-8").addClass("col-md-12")
      $("#reset").click()
      $("#modalTitle").html("")
      $("#formEditable").hide()
    }

    $("#formEditable form").submit(function(e) {
      e.preventDefault();
      let dataToSend = {
        id: $("#id").val(),
        name: $("#name").val(),
        username: $("#username").val(),
        email: $("#email").val(),
        kode_merchant: $("#merchant").val(),
        role: $("#role").val(),
        password: $("#password").val(),
        aktif: $("#aktif").val() == "true" ? true : false,
      }

      saveData(dataToSend, $("#formEditable").attr("data-action"));
      return false;
    });

    function saveData(data, action) {
      $("#save").attr("disabled", true)
      $.ajax({
        url: action == "update" ? "/user/update" : "/user/create",
        method: "POST",
        data: data,
        header: {
          'Content-Type' : 'application/json'
        },
        beforeSend: function() {
          console.log("Loading...")
        },
        success: function(res) {
          $("#save").removeAttr("disabled")
          closeForm()
          refreshData()
          showMessage("success", "flaticon-alarm-1", "Sukses", res.message)

        },
        error: function(err) {
          $("#save").removeAttr("disabled")
          console.log("error :", err);
          showMessage("danger", "flaticon-error", "Peringatan", err.message || err.responseJSON
            ?.message)
        }
      })
    }

    function getData(id) {
      $.ajax({
        url: `/user/${id}/detail`,
        method: "GET",
        dataType: "json",
        success: function(res) {
          $("#formEditable").attr("data-action", "update").fadeIn(200, function() {
            $("#listMerchant").removeClass("col-md-12").addClass("col-md-8")
            let d = res.data;
            $("#id").val(d._id);
            $("#name").val(d.name);
            $("#username").val(d.username)
            $("#email").val(d.email)
            $("#merchant").val(d.kode_merchant)
            $("#role").val(d.role)
            $("#aktif").val(d.aktif ? "true" : "false")
          })
        },
        error: function(err) {
          console.log("error :", err);
          showMessage("warning", "flaticon-error", "Peringatan", err.message || err.responseJSON
            ?.message);
        }
      })
    }

    function removeData(id){
      $.ajax({
        url:"/user/delete",
        method: "POST",
        data: {
          id: id
        },
        beforeSend: function () {
          return confirm("Yakin untuk menghapus data ?");
          console.log('Sending data... !');
        },
        success: function(msg){
          dTable.ajax.reload(null, false)
          showMessage("success", "flaticon-alarm-1", "Sukses", msg.message)
        },
        error: function (error) {
          console.log("error : ", error)
          showMessage("danger", "flaticon-error", "Peringatan", error.message || error.responseJSON
            ?.message)
        },
      })
    }